{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/bundles/app/css/main.css">
    <div class="row-fluid">
        <div class="span6">
            <a href="{{ url('sonata_admin_categoryTree') }}" class="btn btn-default">Дерево категорий</a>
        </div>
    </div>
    <br />
    {% if externalCategoryProducts is not empty %}
        <div>
            {{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': null, 'products': externalCategoryProducts }) }}
        </div>
    {% endif %}
{% endblock %}