<div class="row-fluid" style="display: inline-block;">
	<div class="span6">
		<a href="{{ url('sonata_admin_categoryTree') }}" class="btn btn-default">Дерево категорий</a>
	</div>
</div>
<div class="row-fluid" style="display: inline-block;">
	<div class="span6">
		<a href="{{ url('sonata_admin_emptyCategories') }}" class="btn btn-default">Пустые категории</a>
	</div>
</div>
<div class="row-fluid" style="display: inline-block;">
	<div class="span6">
		<a href="{{ url('sonata_admin_notActiveCategories') }}" class="btn btn-default">Отключенные категории</a>
	</div>
</div>