{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="productListBlock">
		<h1>Товары, которые чаще всего покупают у нас:</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
	<div class="vendorBlock">
		<h2 class="shopTitle">Популярные бренды:</h2>
		<ul class="vendorBlockUl">
			{% for vendor in vendors %}
					<li>
						<a href="/filter/vendor+{{ vendor.alias }}">{{ vendor.name }}</a>
					</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}