{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<h1 class="shopTitle">Купить товары "{{ vendor.name|raw }}":</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
{% endblock %}